@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

body {
    overflow: hidden;
}

 :root {
    --primary-color: #1E90FF;
    --main-font: 'Lato', sans-serif;
    --box-height: 90px;
    --input-box-height: 45px;
    --input-box-border-radius: 6px;
    --heading-font-size: 20px;
    --para-font-size: 13px;
    --para-font-color: #555;
    --btn-font-size: 16px;
}

#PasswordRecovery,
#signInpage,
#createPassword {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#PasswordRecovery.removePage {
    display: none;
}

#signInpage {
    position: absolute;
    right: -100000px;
    top: 0;
    transition: 0.5s;
}

#signInpage.showPage {
    right: 0;
    top: 0;
    transition: all 0.3s;
}

#signInpage.removePage {
    display: none;
}

#createPassword {
    position: absolute;
    top: -100000px;
    right: 0;
    left: 0;
    transition: all 0.5s;
}

#createPassword.showPage {
    top: 0;
    left: 0;
    right: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
}

.wrapper .left-div {
    flex-basis: 50%;
    padding: 50px 100px;
}

.wrapper .left-div .logo {
    text-align: center;
    margin-bottom: 40px;
}

.wrapper .left-div .logo img {
    height: 17px;
    width: 100px;
}

.wrapper .left-div .heading-texts h2,
.wrapper .left-div .heading-texts p {
    font-family: var(--main-font);
}

.wrapper .left-div .heading-texts h2 {
    font-weight: 800;
    font-size: var(--heading-font-size);
}

.wrapper .left-div .heading-texts p {
    font-size: var(--para-font-size);
    color: var(--para-font-color);
    margin-top: 10px;
    margin-bottom: 20px;
}

.wrapper .left-div .input-div {
    position: relative;
}

.wrapper .left-div .input-div label {
    position: absolute;
    top: 21px;
    left: 20px;
    pointer-events: none;
    transition: all 0.3s;
    color: #555;
    font-weight: 550;
}

.wrapper .left-div .input-div input:focus~label,
.wrapper .left-div .input-div input:valid~label {
    transform: translate(-8px, -19px);
    pointer-events: none;
    font-size: 12px;
    background: #fff;
    padding: 0 4px;
    font-weight: normal;
}

.wrapper .left-div .input-div input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.wrapper .left-div input {
    margin: 10px 0px;
    width: 100%;
    height: var(--input-box-height);
    border-radius: var(--input-box-border-radius);
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-left: 10px;
    font-family: var(--main-font);
}

.wrapper .left-div .input-btns input:nth-child(1) {
    border: none;
    background: var(--primary-color);
    font-size: var(--btn-font-size);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.wrapper .left-div .input-btns input:nth-child(1):hover {
    box-shadow: 0 0 3px #1E90FF;
}

.wrapper .left-div .input-btns input:nth-child(2) {
    background: transparent;
    border: none;
    color: #444;
    font-weight: 600;
    font-size: var(--btn-font-size);
    margin-top: -10px;
    cursor: pointer;
}

.wrapper .left-div .input-btns input:nth-child(2):hover {
    color: #222;
}

.wrapper .right-div {
    flex-basis: 50%;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding: 50px 100px;
}

.wrapper .right-div .image {
    height: 200px;
}

.wrapper .right-div .image img {
    height: 100%;
    /* filter: hue-rotate(144deg); */
}

.wrapper .right-div .texts {
    font-family: var(--main-font);
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .right-div .texts h2 {
    font-size: var(--heading-font-size);
    font-weight: 800;
}

.wrapper .right-div .texts p {
    color: var(--para-font-color);
    font-size: var(--para-font-size);
    margin-top: 8px;
}


/* -------------------------sign in page----------------------- */

#signInpage .wrapper .left-div .heading-texts h2 {
    margin-bottom: 20px;
}

#signInpage .wrapper .left-div .some-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#signInpage .wrapper .left-div .some-option .check-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#signInpage .wrapper .left-div .some-option .check-box input {
    height: 15px;
    width: 15px;
    margin-right: 6px;
}

#signInpage .wrapper .left-div .some-option .check-box small {
    color: #888;
    font-size: 15px;
}

#signInpage .wrapper .left-div .some-option a {
    color: var(--primary-color);
    font-weight: 600;
}


/* ---create password section---- */

#createPassword .wrapper .left-div form .password-instruction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

#createPassword .wrapper .left-div form .password-instruction span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#createPassword .wrapper .left-div form .password-instruction span:nth-child(1) h4 {
    color: #008000;
    font-weight: 800;
    font-size: 18px;
}

#createPassword .wrapper .left-div form .password-instruction span:nth-child(2) h4 {
    color: #FF0000;
    font-weight: 800;
    font-size: 18px;
}

#createPassword .wrapper .left-div form .password-instruction span:nth-child(3) h4 {
    color: #0000FF;
    font-weight: 800;
    font-size: 18px;
}

#createPassword .wrapper .left-div form .password-instruction span:nth-child(4) h4 {
    color: #FFA500;
    font-weight: 800;
    font-size: 18px;
}

#createPassword .wrapper .left-div form .password-instruction span small {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 550;
}