@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
}

body {
    overflow: hidden;
}

 :root {
    --primary-color: #1E90FF;
    --main-font: 'Lato', sans-serif;
    --box-height: 90px;
    --input-box-height: 45px;
    --input-box-border-radius: 6px;
    --heading-font-size: 20px;
    --para-font-size: 12px;
    --para-font-color: rgba(0, 0, 0, 0.5);
    --btn-font-size: 16px;
}

#PasswordRecovery,
#signInpage,
#createPassword {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    position: relative;
}

.wrapper::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 1px;
    background: rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .left-div {
    flex-basis: 50%;
    padding: 30px 100px;
}

.wrapper .left-div .logo {
    text-align: center;
    margin-bottom: 40px;
}

.wrapper .left-div .logo img {
    height: 17px;
    width: 100px;
}

.wrapper .left-div .heading-texts h2,
.wrapper .left-div .heading-texts p {
    font-family: var(--main-font);
}

.wrapper .left-div .heading-texts h2 {
    font-weight: 800;
    font-size: var(--heading-font-size);
}

.wrapper .left-div .heading-texts p {
    font-size: var(--para-font-size);
    color: var(--para-font-color);
    margin-top: 10px;
    margin-bottom: 20px;
}

.wrapper .left-div .input-div {
    position: relative;
}

.wrapper .left-div .input-div label {
    position: absolute;
    top: 24px;
    left: 20px;
    pointer-events: none;
    transition: all 0.3s;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.wrapper .left-div .input-div input:focus~label,
.wrapper .left-div .input-div input:valid~label {
    transform: translate(-8px, -19px);
    pointer-events: none;
    font-size: 12px;
    background: #fff;
    padding: 0 4px;
    font-weight: normal;
}

.wrapper .left-div input {
    margin: 10px 0px;
    width: 100%;
    height: var(--input-box-height);
    border-radius: var(--input-box-border-radius);
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-left: 10px;
    font-family: var(--main-font);
}

.wrapper .input-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .input-btns a {
    background: var(--primary-color);
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #fff;
    border-radius: var(--input-box-border-radius);
}

.wrapper .input-btns a:nth-child(2) {
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    font-weight: 800;
}

.wrapper .right-div {
    flex-basis: 50%;
    text-align: center;
    /* border-left: 1px solid rgba(0, 0, 0, 0.2); */
    padding: 30px 100px;
}

.wrapper .right-div .image {
    height: 300px;
}

.wrapper .right-div .image img {
    height: 100%;
    /* filter: hue-rotate(144deg); */
}

.wrapper .right-div .texts {
    font-family: var(--main-font);
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .right-div .texts h2 {
    font-size: var(--heading-font-size);
    font-weight: 800;
}

.wrapper .right-div .texts p {
    color: var(--para-font-color);
    font-size: var(--para-font-size);
    margin-top: 8px;
}


/* -------------------------sign in page----------------------- */

#signInpage .wrapper .left-div .heading-texts h2 {
    margin-bottom: 20px;
}

#signInpage .wrapper .left-div .some-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#signInpage .wrapper .check-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#signInpage .wrapper .check-box input {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

#signInpage .wrapper .check-box small {
    color: #888;
}

#signInpage .wrapper .left-div .some-option a {
    color: var(--primary-color);
    font-weight: 600;
}

#signInpage .wrapper .check-box small,
#signInpage .wrapper .left-div .some-option a {
    font-size: 13px;
}


/* ---create password section---- */

#createPassword .password-instruction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

#createPassword .password-instruction span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#createPassword .password-instruction span:nth-child(1) h4 {
    color: #008000;
    font-weight: 800;
}

#createPassword .password-instruction span:nth-child(2) h4 {
    color: #FF0000;
    font-weight: 800;
}

#createPassword .password-instruction span:nth-child(3) h4 {
    color: #0000FF;
    font-weight: 800;
}

#createPassword .password-instruction span:nth-child(4) h4 {
    color: #FFA500;
    font-weight: 800;
}

#createPassword .password-instruction span:nth-child(1) h4,
#createPassword .password-instruction span:nth-child(2) h4,
#createPassword .password-instruction span:nth-child(3) h4,
#createPassword .password-instruction span:nth-child(4) h4 {
    font-size: 18px;
}

#createPassword .wrapper .left-div form .password-instruction span small {
    color: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    font-weight: 500;
    margin-top: 4px;
}